.cabecera{
	background: #56D2D8	;
	color: #56D2D8	;
	height: 300px;
}
h2{
	 font-size: 40px; color:#808080 ;
	 font-family: arial;

}
h5{
	color: #C0C0C0;
	
}
h3{
	color: #A9A9A9;
	
}

.sobre {
 position:absolute;
 top:0px;
 left:0px;
 border:4px;
 border-style: solid;
 border-color: #fff;
 transition:all .5s ease-in-out;
}
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
.snip1566 {
  position: relative;
  display: inline-block;
  margin: 20px;
  max-width: 190px;
  width: 100%;
  color: #bbb;
  font-size: 16px;
  box-shadow: none !important;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.snip1566 *,
.snip1566:before,
.snip1566:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}



.snip1566 img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
  border-radius: 50%;
  padding: 10px;
  

}
