.fondo{
background-image: url('img/1.gif');
}

.facebook {
  background-color: #2e4a88;
  box-shadow: 0 3px 0 #1B3D82;
  text-shadow: 0 -1px -1px #1B3D82;
  
  display: inline;
  position: relative;
  font-family: Arial;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 15px;
  padding: 10px 50px;
}
.facebook:hover {
  background-color: #354F84;
  color: aqua;
  text-decoration: none;
}
.facebook:active {
  top: 2px;
    box-shadow: 0 2px 0 #1B3D82;
}