

.fab {
  padding: 20px;
  border-radius: 50px;
  font-size: 25px;
 
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fab:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}


.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-whatsapp {
  background: green;
  color: white;
}



.estiloinput{
	border-radius: 5px;
	border:none;
	width: 70px;
	text-align: center;
	text-decoration: none;
}
label{
	font-size: 20px;
	padding-top: 5px;
	color: #fff;
	text-decoration: none;

}
.marca{
	width: 150px;
}
.modelo{
	width: 150px;
}

a{
	text-decoration: none;
}
.chat{
	background: red;
	height: 4px;
}


