/* Color Variables */
/* Social Icon Mixin */
/* Social Icons */
.social-icons {
  display: flex; }

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 0 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 2.5rem;
  text-decoration: none;
  transition: all 0.15s ease; }
  .social-icon:hover {
    color: #fff; }
    .social-icon:hover .tooltip {
      visibility: visible;
      opacity: 1;
      transform: translate(-50%, -150%); }
  .social-icon:active {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) inset; }
  .social-icon--linkedin {
    background: #006599;
    color: #fff; }
    .social-icon--linkedin .tooltip {
      background: #006599;
      color: currentColor; }
      .social-icon--linkedin .tooltip:after {
        border-top-color: #006599; }
  .social-icon--twitter {
    background: #2b97f1;
    color: #fff; }
    .social-icon--twitter .tooltip {
      background: #2b97f1;
      color: currentColor; }
      .social-icon--twitter .tooltip:after {
        border-top-color: #2b97f1; }
  .social-icon--codepen {
    background: #000;
    color: #fff; }
    .social-icon--codepen .tooltip {
      background: #000;
      color: currentColor; }
      .social-icon--codepen .tooltip:after {
        border-top-color: #000; }
  .social-icon--facebook {
    background: #3b5a9b;
    color: #fff; }
    .social-icon--facebook .tooltip {
      background: #3b5a9b;
      color: currentColor; }
      .social-icon--facebook .tooltip:after {
        border-top-color: #3b5a9b; }
  .social-icon--instagram {
    background: #527fa6;
    color: #fff; }
    .social-icon--instagram .tooltip {
      background: #527fa6;
      color: currentColor; }
      .social-icon--instagram .tooltip:after {
        border-top-color: #527fa6; }
  .social-icon--dribbble {
    background: #ef5a92;
    color: #fff; }
    .social-icon--dribbble .tooltip {
      background: #ef5a92;
      color: currentColor; }
      .social-icon--dribbble .tooltip:after {
        border-top-color: #ef5a92; }
  .social-icon--github {
    background: #4284c0;
    color: #fff; }
    .social-icon--github .tooltip {
      background: #4284c0;
      color: currentColor; }
      .social-icon--github .tooltip:after {
        border-top-color: #4284c0; }
  .social-icon i {
    position: relative;
    top: 1px; }

/* Tooltips */
.tooltip {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  padding: 0.8rem 1rem;
  border-radius: 40px;
  font-size: 0.8rem;
  font-weight: bold;
  opacity: 0;
  pointer-events: none;
  text-transform: uppercase;
  transform: translate(-50%, -100%);
  transition: all 0.3s ease;
  z-index: 1; }
  .tooltip:after {
    display: block;
    position: absolute;
    bottom: 1px;
    left: 50%;
    width: 0;
    height: 0;
    content: "";
    border: solid;
    border-width: 10px 10px 0 10px;
    border-color: transparent;
    transform: translate(-50%, 100%); }

.fa-stack[data-count]:after {
  position: absolute;
  right: 0%;
  top: 0%;
  content: attr(data-count);
  font-size: 40%;
  padding: .6em;
  border-radius: 999px;
  line-height: .75em;
  color: white;
  color: #DF0000;
  text-align: center;
  min-width: 2em;
  font-weight: bold;
  background: white;
  border-style: solid; }

.fa-circle {
  color: #DF0000; }

.red-cart {
  color: #DF0000;
  background: white; }

  .carritos{
    position: absolute;
  right: -6%;
  top: 0%;
  
  font-size: 40%;
  padding: .6em;
  border-radius: 999px;
  line-height: .75em;
  color: white;
  color: #DF0000;
  text-align: center;
  min-width: 2em;
  font-weight: bold;
  background: white;
  border-style: solid;"
  }

/*# sourceMappingURL=sass.css.map */
