           

#nivelseguridad {
  font-weight: bold;
  text-transform: uppercase;
}

.formulario,
.nivelSeguridad {
  width: 280px;
  margin: 30px auto;
}

legend {
  text-align: center;
  margin-bottom: 10px;
}

input {
  margin: 5px auto;
  display: block;
}

label {
  margin: 0 auto;
  display: block;
  text-align: center;
}

.nivelSeguridad > p {
  margin-right: 15px;
}

.nivelSeguridad > span#nivelseguridad {}

.nivelesColores {
  height: 10px;
  width: 188px;
  display: inline-block;
  position: relative;
  left: 25px;
}

.spanNivelesColores {
  //background: #fff;
  width: 0;
  height: 10px;
  display: inline-block;
  position: absolute;
  background: url(http://momstudio.es/img/img-elmaquetadorweb/password-level-47px.png) no-repeat;
 
  /*border: 1px solid #f00;
  right: 120px;*/
}

.bajo,
.medio,
.alto,
.muyAlto {
  height: 10px;
  
}

.spanNivelesColores.nulo {
 width:0px;
}

.spanNivelesColores.bajo {
  width: 47px;
}

.spanNivelesColores.medio {
  width: 94px;
}

.spanNivelesColores.alto {
  width: 141px;
}

.spanNivelesColores.muyAlto {
  width: 188px;
}

button {
  display: block;
  margin: 20px auto 5px;
}
.clavecorrecta {
  text-align: center;
  font-weight: bold;
}
.error {
  color: #e00;
  margin-top: 15px;
}

.oculto {
  display: none;
}