* {
	margin:0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background:url(bg.jpg) #F0F0F0;
	background-size:cover;
	color:#fff;
	font-size: 16px;
}

.wrap {
	width: 90%;
	max-width: 1000px;
	/*margin:auto;*/
}

.widget {
	width: 40%;
	margin: 2em;
	/*margin:32px; */
}

.widget p {
	display: inline-block;
	line-height: 1em;
}

.fecha {
	font-family: Oswald, Arial;
	text-align: center;
	font-size: 12px;
	margin-bottom: 0.3125rem;
	/*margin-bottom: 5px;*/
	background: rgba(0,0,0,.5);
	padding: 0px;
	width: 50%;
	border-radius: 50px;
}

.reloj {
	border-radius: 60px;
	margin-left : 39px;
	font-family: Oswald, Arial;
	width: 30%;
	padding: 0px;
	font-size: 20px;
	text-align: center;
	background: rgba(0,0,0,.5);
}

.reloj .caja-segundos {
	display: inline-block;
}

 .segundos,
 .ampm {

	font-size: 10px;
	display: block;
}

